img{
    
    border-radius: 50px;
    padding: 5px;
}
div{
    border-radius: 50px;
    margin: 10px;
}
video{
    border-radius: 50px;
}

@media screen and (max-width: 700px) {
    img{
        width: 200px;
        height: 300px;
    }
    video{
        width: 200px;
        height: 300px;
    }
}