img{
    
    border-radius: 50px;
    padding: 5px;
}
div{
    border-radius: 50px;
    margin: 10px;
}
video{
    border-radius: 50px;
}
.deco{
    float: right;
    margin-top: -50px;
    margin-right: 50px;
    border: none;
    height: 50px;
    width: 150px;
    color: aliceblue;
    background-color: red;
    border-radius: 50px 10px;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    img{
        width: 200px;
        height: 300px;
    }
    video{
        width: 200px;
        height: 300px;
    }
}